/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body {
    font-family: "Open Sans Condensed", sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

a {
    text-decoration: none;
}


/* HEADER */
header {
    height: 150px;

    .navbar {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


/* MAIN */
.main-header {
    height: 500px;
}

#Content-Goes-Here {
    background-color: black;
    color: white;
    padding: 3rem 1rem;
    font-size: 1.5rem;
    position: relative;
}

#actions {
    height: 180px;
    background-color: dodgerblue;
    color: white;
}

/* FOOTER */
footer {
    height: 800px;
}